* {
  box-sizing: border-box
}

html {
  height: 100%;
}
vsc-initialized {
  background-color: #fff
  font-size: 16px
  font-family: "PT_SansRegular", sans-serif
  margin: 0
  height: 100%
  text-align center
  -webkit-font-smoothing: subpixel-antialiased
  color: #333
}

header,
nav,
section,
article,
aside,
footer {
  display: block
}

a {
  text-decoration: none
  color: #fff

}

.hidden
  display none

h2, h3, p
  padding 0
  margin 0



.visually-hidden {
  position: absolute
  width: 1px
  height: 1px
  margin: -1px
  padding: 0
  border: 0
  clip: rect(0 0 0 0)
  overflow: hidden

}
img {
  width: 100%
}


.maxw {
  max-width 1200px
  min-width 320px
  margin 0 auto
  box-shadow -7px 9px 15px -2px rgba(0,1,1,.2),7px 9px 15px -2px rgba(0,1,1,.2)
}




