.hamburger--custom
  position: absolute
  height: 21px
  width: 23px
  right 35px
  outline none
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after
    background-color: rgb(101, 180, 212)



@media (min-width: 786px) {
  .hamburger--custom {
    display: none
  }

}


@media (min-width: 1200px){
  .hamburger--custom {
    display: none
  }
}
